  body{
            font-family: Arial;
            margin: 20px;

        }



        .container{
            display: flex;
            gap: 10px;
        }

        .box{
            flex: 1;
            background-color:blue;
            color: white;
            padding: 20px;
            text-align: center;
        }

        @media (max-width: 800px) {
                    .container{
            flex-wrap: wrap;
              


        }

        .box{
            flex: 1 1 45%;



        }
    }

     @media (max-width: 500px) {

    .box {
        flex: 1 1 100%;
    }

        }